@charset "UTF-8";

@font-face {
    font-family: 'topsecret';
    src: url('../fontes/topsecret.ttf') format('truetype');
}

@font-face {
    font-family: 'gunplay';
    src: url('../fontes/gunplay.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;

}

html {
    scrollbar-width: thin;
    scrollbar-color: #4d4d4d rgb(24, 24, 24);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242424;
    
}

header {
    text-align: center;
    background-color: #EAD39A;
    background-image: url('../imagens/fundo-header-full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;

}

header h1 {
    font-family: 'topsecret', Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: #353535;
    padding-top: 50px;
    text-shadow: 3px 3px 4px black;
    
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 700;
    color: #353535;
    padding-top: 30px;
    text-shadow: 3px 3px 4px black;
}

nav {
    background-color: rgb(24, 24, 24);
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 11px 2vw;
    
}

nav a:hover {
    background-color: white;
    color: black;
    
}

.normal {
    padding: 20px;
    height: 300px;
}

#principal {
    padding: 20px;
    background-color: white;
    height: 300px;
}

#principal h1 {
    font-family: 'gunplay';
    font-size: 5vw;
    color: #353535;
    text-align: center;
    margin-bottom: 20px;
}

#principal p {
    max-width: 700px;
    margin-inline: auto;
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 20px;
}

#principal #exercito {
    text-decoration: none;
    color: #008300;
    font-weight: 600;
}

#principal #exercito:hover {
    text-decoration: underline;
}

#principal #marinha {
    text-decoration: none;
    color: rgb(0, 0, 114);
    font-weight: 600;
}

#principal #marinha:hover {
    text-decoration: underline;
}


#principal #aeronaltica {
    text-decoration: none;
    color: #383838;
    font-weight: 600;
}

#principal #aeronaltica:hover {
    text-decoration: underline;
}

#img__exercito {
    background-color: #00ff00;
    background-image: url('../imagens/Leopard1A5-index-cortada.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img__exercito img {
    display: block;
    margin-inline: auto;
    padding-top: 25px;
    margin-bottom: 35px;
}

#img__exercito h1{
    font-family: 'gunplay';
    font-size: 3em;
    color: #008300;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
}

#lista__exercito {
    background-color: #3e9a3e;
    color: white;
    box-shadow: 1px 1px 3px black;
    margin-inline: auto;
    max-width: 600px;
    border-radius: 5px;
}

#lista__exercito h2 {
    background-color: #005900;
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

#lista__exercito ul {
    padding: 20px 20px 20px 20px;
    list-style-type: '🔰 - ';
    list-style-position: inside;
}

#lista__exercito li {
    padding-top: 5px;
}

#lista__exercito a{
    color: black;
    text-decoration: none;
}

#lista__exercito a:hover {
    color: white;
}

#img__aeronautica {
    background-color: rgb(16, 114, 146);
    background-image: url('../imagens/gripen-index-1500.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#img__aeronautica img{
    display: block;
    margin-inline: auto;
    padding-top: 25px;
    margin-bottom: 35px; 
}

#img__aeronautica h1{
    font-family: 'gunplay';
    font-size: 3em;
    color: #127495;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
}

#lista__força__aeria {
    background-color: #0b617d;
    color: white;
    box-shadow: 1px 1px 3px black;
    margin-inline: auto;
    max-width: 600px;
    border-radius: 5px;
}

#lista__força__aeria h2 {
    background-color: rgb(5, 56, 73);
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

#lista__força__aeria ul {
    padding: 20px 20px 20px 20px;
    list-style-type: '✈️ - ';
    list-style-position: inside;
}

#lista__força__aeria li {
    padding-top: 5px;
}

#lista__força__aeria a{
    color: black;
    text-decoration: none;
}

#lista__força__aeria a:hover {
    color: white;
}

#img__marinha {
    background-color: #a2a2a2;
    background-image: url('../imagens/navio-index-editada.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#img__marinha img {
    display: block;
    margin-inline: auto;
    padding-top: 25px;
    margin-bottom: 35px; 
}

#img__marinha h1{
    font-family: 'gunplay';
    font-size: 3em;
    color: rgb(171, 171, 171);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
}

#lista__marinha {
    background-color: #989898;
    color: white;
    box-shadow: 1px 1px 3px black;
    margin-inline: auto;
    max-width: 600px;
    border-radius: 5px;
}

#lista__marinha h2 {
    background-color: #515151;
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

#lista__marinha ul {
    padding: 20px 20px 20px 20px;
    list-style-type: '⚓ - ';
    list-style-position: inside;
}

#lista__marinha li {
    padding-top: 5px;
}

#lista__marinha a{
    color: black;
    text-decoration: none;
}

#lista__marinha a:hover {
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

footer a:hover {
    text-decoration: underline;
}