@font-face {
    font-family: 'topsecret';
    src: url('../fontes/topsecret.ttf') format('truetype');
}

@font-face {
    font-family: 'gunplay';
    src: url('../fontes/gunplay.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;

}

html {
    scrollbar-width: thin;
    scrollbar-color: #4d4d4d rgb(24, 24, 24);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    text-align: center;
    background-color: #EAD39A;
    background-image: url('../imagens/fundo-header-full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;

}

header h1 {
    font-family: 'topsecret', Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: #353535;
    padding-top: 50px;
    text-shadow: 3px 3px 4px black;
    
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 700;
    color: #353535;
    padding-top: 30px;
    text-shadow: 3px 3px 4px black;
}

nav {
    background-color: rgb(24, 24, 24);
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 11px 2vw;
    
}

nav a:hover {
    background-color: white;
    color: black;
    
}

.normal {
    margin: 10px;
    padding: 10px;
}

.normal h1 {
    font-family: 'gunplay';
    font-size: 5vw;
    color: #353535;
    text-align: center;
    margin-bottom: 20px;
}

.normal p {
    max-width: 700px;
    margin-inline: auto;
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 20px;
}

.normal #exercito {
    text-decoration: none;
    color: rgb(0, 89, 0);
    font-weight: 600;
}

.normal #exercito:hover {
    text-decoration: underline;
}

.normal #marinha {
    text-decoration: none;
    color: rgb(0, 0, 114);
    font-weight: 600;
}

.normal #marinha:hover {
    text-decoration: underline;
}


.normal #aeronaltica {
    text-decoration: none;
    color: rgb(76, 76, 76);
    font-weight: 600;
}

.normal #aeronaltica:hover {
    text-decoration: underline;
}

#img__exercito {
    background-color: #00ff00b1;
    background-image: url('../imagens/Leopard1A5-index-cortada.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img__exercito img {
    display: block;
    margin-inline: auto;
    padding-top: 25px;
    margin-bottom: 35px;
}

#img__exercito h1{
    font-family: 'gunplay';
    font-size: 3em;
    color: #008300;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

footer a:hover {
    text-decoration: underline;
}