*{
    margin: 0px;
    padding: 0px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    text-align: center;
    color: #b0d82b;
    background-color: rgb(33, 33, 33);
    background-image: url('../imagens/cabeçalho-full.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    
}

header h1 {
    font-size: 10vw;
    padding-top: 50px;
    text-shadow: 1px 1px 1px black;
}

header p {
    font-size: 4vw;
    font-weight: 700;
    color: #04e125;
    text-shadow: 1px 1px 1px black;
}

nav {
    background-color: rgba(0, 0, 0, 0.863);
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 11px 2vw;
    
}

nav a:hover {
    background-color: white;
    color: black;
}

